<div id="entrada" (click)="lanzarPelicula()">
  <h2>Titulo:  </h2>
  <h3 class="h3c">{{ entrada.nombre }}</h3>
  <br />
  <h2>Plataforma:  </h2>
  <h3 class="h3c">{{ entrada.plataforma }}</h3>
  <br />
  <h2>Duración:  </h2>
  <h3 class="h3c">{{ entrada.duracion }} minutos</h3>
  <br />

  <div id="foto">
    <img src="{{ entrada.imagen }}" width="250" height="250" alt="" />

    <button
      *ngIf="sessionReportFilter"
      class="boton"
      type="button"
      routerLink="/eliminar/{{ entrada.nombre }}"
    >
      Eliminar
    </button>
    <button
      *ngIf="sessionReportFilter"
      class="boton"
      type="button"
      routerLink="/modificar/{{ entrada.nombre }}"
    >
      Editar
    </button>
  </div>
</div>
