<ul id="menu">
  <li routerLink="/listado"><span>Películas</span></li>

  <li *ngIf="miToken != 'null'" routerLink="/addfilm">
    <span>Añadir película</span>
  </li>

  <li *ngIf="miToken == 'null'" class="acceso" routerLink="/login">
    <span>Acceso</span>
  </li>

  <li *ngIf="miToken == 'null'" class="acceso" routerLink="/registro">
    <span>Registro</span>
  </li>

  <li *ngIf="miToken != 'null'" class="acceso" class="acceso">
    <span>Bienvenido : {{ nombreUsuario }}</span></li>
    <button
      *ngIf="miToken != 'null'"
      type="submit"
      (click)="logout()"
      routerLink="/menu">
      Cerrar Sesion
    </button>

</ul>
