
<div id="contenedor" class="form">
  <form
    (ngSubmit)="registrar(usuario.email, usuario.password)"
    #usuarioForm="ngForm"
  >
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input
        type="test"
        [(ngModel)]="usuario.name"
        name="nombre"
        #nombre="ngModel"
        required
        minlength="4"
      />
      <div *ngIf="nombre.invalid && nombre.dirty" class="alert">
        <div *ngIf="nombre.errors?.['required']">Campo requerido</div>
        <div *ngIf="nombre.errors?.['minlength']">Mínimo 4 caracteres</div>
      </div>
      <label for="usuario">Email:</label>
      <input
        type="text"
        [(ngModel)]="usuario.email"
        name="nombre"
        #nombre="ngModel"
        required
      />
      <div *ngIf="nombre.invalid && nombre.dirty" class="alert">
        <div *ngIf="nombre.errors?.['required']">Campo requerido</div>
      </div>
    </div>

      <label for="contrasegna">Contraseña:</label>
      <input
        type="password"
        [(ngModel)]="usuario.password"
        name="contrasegna"
        #contrasegna="ngModel"
        required
        minlength="4"
      />
      <div *ngIf="contrasegna.invalid && contrasegna.dirty" class="alert">
        <div *ngIf="contrasegna.errors?.['required']">Campo requerido</div>
        <div *ngIf="contrasegna.errors?.['minlength']">Mínimo 4 caracteres</div>
      </div>

    <button type="button" (click)="registrar(usuario.email, usuario.password)">
      Nuevo Usuario
    </button>
  </form>
</div>
