<div id="contenedor">

  <h4>Modificando {{nombre}}</h4>
  <form [formGroup]="formEntrada" (ngSubmit)="editarEntrada()">


    <label>Plataforma:</label>
    <input type="text" formControlName="plataforma" placeholder="{{entrada.plataforma}}">
    <div *ngIf="formEntrada.get('plataforma')?.invalid && formEntrada.get('plataforma')?.dirty">
      <div *ngIf="formEntrada.get('plataforma')?.errors?.['required']">
       Plataforma es obligatorio
      </div>
      <div *ngIf="formEntrada.get('plataforma')?.errors?.['minLength']">
        Plataforma mínimo 4 caracteres
      </div>
    </div>

    <label>Duracion:</label>
    <input type="text" formControlName="duracion">
    <div *ngIf="formEntrada.get('duracion')?.invalid && formEntrada.get('duracion')?.dirty">
      <div *ngIf="formEntrada.get('duracion')?.errors?.['required']">
        La Duracion es obligatorio
      </div>
    </div>

    <label>Imagen:</label>
    <input type="text" formControlName="imagen">
    <div *ngIf="formEntrada.get('imagen')?.invalid && formEntrada.get('imagen')?.dirty">
      <div *ngIf="formEntrada.get('imagen')?.errors?.['required']">
       La imagen es obligatoria
      </div>
    </div>

    <button type="submit" [disabled]="!formEntrada.valid">Editar</button>
  </form>
</div>
